/*My css for the entire personal website*/
body {
  margin: 0;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Lobster Two', cursive;
}

.top-container {
  background-color: #d2f5e3;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #e7e7de;
}

.bottom-container {
  /*background-color: #008891;*/
  margin-top: 10px;
}

.pro {
  text-decoration: underline;
}

/*
.top-cloud {
  position: absolute;
  right: 100px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 100px;
}
*/
.profile-pic {
  margin-top: 20px;
  width: 200px;
  height: 200px;
}

.contact-me {
  padding-bottom: 10px;
}

@media only screen and (min-width: 830px) {
  .top-cloud {
    position: absolute;
    right: 220px;
    top: 50px;
  }

  .bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 220px;
  }
}

@media only screen and (min-width: 1000px) {
  .top-cloud {
    position: absolute;
    right: 33%;
    top: 50px;
  }

  .bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 33%;
  }
}
